body{
    background-color: rgb(222, 220, 220);

}
.App{
    height: 99vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
h1{
    font-size: 9rem;
    color: #007FDB;
}
